/* Mobile Styles */
.rc-categoriesContainer {
    flex-wrap: wrap;
    width: 95%;
    gap: 15px;
    margin: 0 auto;
    justify-content: space-between;
}

.rc-categoryContainer {
    display: table-cell;
    padding: 5px;
    width: auto;
    border-radius: 7px;
    border: 2px solid var(--col-borders);
    background-color: rgba(255, 255, 255, 1);
}


/* Desktop Styles */
@media screen and ( min-width: 964px) {

}