/* mobile Styles */
.rd-recipeContainer {
    width: 95%;
    margin: 0 auto;
    flex-direction: column;
    gap: 15px;
}

.rd-recipeHeaderContainer {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 7px;
    overflow: hidden;
    padding: 5px;
    width: 95%;
    margin: 0 auto;
    height: 150px;
    aspect-ratio: auto;
    margin-top: 30px;
    position: relative;
    color: white;
    font-weight: bold; 
}

.rd-recipeTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, .7);
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    font-size: 1.5rem;
}

.rd-recipeDescription {
  padding: 35px;
  background-color: white;
  width: 95%;
  margin-top: 50px;
  margin: 0 auto;
  border: 2px solid var(--col-borders);
  border-radius: 7px;
}

.rd-recipeDetailsContainer {
    width: 95%;
    margin: 35px auto;
    border-radius: 7px;
    background-color: white;
    border: 2px dotted var(--col-borders);
    padding: 15px;
    gap: 15px;
    flex-direction: column;
}

.rd-recipeDetailsLeft {
    width: 99%;
    flex-direction: column;
    margin: 0 auto;
    gap: 25px;
}

.rd-recipeDetailsRight {
    flex-direction: column;
    gap: 10px;
    width: 300px;  
}

.rd-cookbook-add-container {
    width: 95%;
    padding: 5px;
    justify-content: center;
    align-items: center;
}

.rd-add-to-cookbook {
    color: white;
    background-color: var(--col-primary);
    width: auto;
    font-family: inherit;
    font-size: .9rem;
}

.rd-add-to-cookbook:hover {
    color: var(--col-primary);
    background-color: white;
}

/* Dekstop Styles */
@media screen and (min-width: 960px){

    .rd-recipeContainer {
        width: 900px;
    }

    .rd-recipeHeaderContainer {
        height: 300px;
    }

    .rd-recipeTitle {
        font-size: 2.3rem;
    }

    .rd-recipeDetailsContainer{
        flex-direction: row;
    }

    .rd-recipeDetailsLeft {
        width: 35%;
    }

    .rd-recipeDetailsRight {
        width: 60%;
    }

    .rd-add-to-cookbook {
        font-size: 1.5rem;
    }

}