/* Mobile Styles */
.pr-container {
    margin: 10px 0;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

.pr-container > h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.pr-container > label {
    font-family: inherit;
    padding-bottom: 10px;
}

.pr-input {
    border-radius: 10px;
    font-family: inherit;
}

.pr-ok {
    padding: 10px;
}

.pr-error {
    color: red;
    padding: 15px;
}

.pr-btn {
    padding: 15px;
    border-radius: 10px;
    border: 2px solid var(--col-primary);
    color: white;
    font-family: inherit;
    font-size: 1rem;
    background-color: var(--col-primary);
}

.pr-btn:hover{
    color: var(--col-primary);
    background-color: white;
}

/* Desktop Styles */
@media screen and (min-width: 900px) {

    .pr-container {
        margin: 0 auto;
        width: 525px;
        padding: 10px;
        border: 2px solid var(--col-primary);
        border-radius: 10px;
        margin-bottom: 15px;
    }

    .pr-container > h2 {
        text-align: center;
        padding: 15px;
    }

}