/* Mobile Styles */
.recipesContainer {
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
    padding: 10px;
    gap: 10px;
}

.recipesHeading {
    font-size: 2.5rem;
    text-align: center;
    padding: 5px;
}

.recipesFilter {
    width: 100%;
    padding: 5px;
    gap: 10px;
}

.recipesFilter > input[type="text"] {
    width: 80%;
    border-radius: 10px;
    font-family: inherit;
    font-size: 1rem;
    padding: 15px;
}

.recipesFilter > button {
    width: auto;
    border-radius: 7px;
    border: 2px solid var(--col-primary);
    background-color: var(--col-primary);
    color: white;
    font-family: inherit;
    font-size: 1rem;
    padding: 10px;
}

.recipesFilter > button:hover {
    background-color: white;
    color: var(--col-primary);
}

.recipeListContainer {
    flex-direction: column;
    gap: 15px;
    padding: 5px;
}

.recipeContainer {
    flex-direction: column;
    gap: 10px;
    background-color: white;
    border: 2px solid var(--col-borders);
    border-radius: 7px;
    overflow: hidden;
    justify-content: space-between;
}

.recipeImage {
    width: 100%;
    height: 250px;
}

.recipeHeading {
    text-align: center;
    font-family: inherit;
    font-size: 1.5rem;
}

.recipeDescription {
    padding: 5px;
    border: none;
}

.recipeActions {
    padding: 5px;
    justify-content: space-between;
}

.recipeActions > button {
    padding: 10px;
    width: auto;
    font-family: inherit;
    font-size: 1rem;
    background-color: var(--col-primary);
    color: white;
    border: 2px solid var(--col-primary);
    border-radius: 7px;
}

.recipeActions > button:hover {
    background-color: white;
    color: var(--col-priomary);
}

.selectContainer {
    gap: 10px;
}

.selectModalHeading {
    font-family: inherit;
    font-size: 2rem;
    text-align: center;
    padding: 10px;
}

.cookbookSelect {
    width: 100%;
    padding: 15px;
    border-radius: 7px;
    border: 2px solid var(--col-borders);
    font-family: inherit;
    font-size: 1rem;  
}

.selectBtn {
    background-color: var(--col-primary);
    color: white;
    padding: 10px;
    width: auto;
}

.selectBtn:hover {
    background-color: white;
    color: var(--col-primary);
}

.recipeListEmpty {
    justify-content: center;
    padding: 30px;
    font-size: 2rem;
}

.act-descon{
    flex-direction: column;
    align-items: space-around;
    border: 1px solid red;
}

/* Desktop Styles */
@media screen and (min-width: 964px) {
    .recipesContainer {
        width: 900px;
    }

    .recipeListContainer {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 25px;
    }

    .recipesHeading {
        padding: 15px;
        font-size: 3rem;
    }

    .recipesFilter > input[type="text"] {
        width: 95%;
    }

    .recipeList {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .recipeContainer {
        width: 250px;
    }
}