/* Mobile first */
.latestRecipeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 25px;
}

.latest-layer {
    width: 100%;
    background-color: white;
}

/* Desktop Styles */
@media screen and (min-size: 960px) {

    .latestRecipeContainer {
        flex-direction: row;
    }

}