/* Mobile */
.FormInputContainer {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.FormLabel {
    font-weight: bold;
    padding: 6px 0;
    font-size: .9rem;
}

.FormInput {
    padding: 7px;
    border-radius: 7px;
    font-size: .9rem;
}

.FormNotificationContainer {
    padding: 5px;
    font-size: .8rem;    
    font-weight: bold;
    color: red;
}

/* Desktop */
@media screen and (min-width: 900px) {
   
    .FormInputContainer {
        flex-direction: col;
    }

    .FormInput {
        width: 615px;
    }

    .FormLabel {
        margin-right: 15px;
    }

}