/* Mobile */
.Form {
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    background-color: white;
    width: 100%;
    max-height: 90vh;
    margin-bottom: 1rem; 
    padding: 10px;
    overflow: auto;
}

.Form > button {
    font-family: inherit;
    font-size: 1rem;
    padding: 10px;
    width: 100%;
    color: white;
    background-color: var(--col-primary);
    border: 2px solid var(--col-primary);
    border-radius: 10px;
}

.Form > button:hover {
    color: var(--col-primary);
    background-color: white;
}

.form-border {
    border: 3px solid var(--col-primary);
}

/* Desktop */
@media screen and (min-width: 900px) {
  
    .Form {
        flex-direction: col;
        gap: 15px;
    }

    .Form > button {
        width: auto;
    }

}