/* Mobile layout */
.landingcategories-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    gap: 25px;
}

.categoryLayer {
    width: 100%;
    background-color: white;
}

/* Desktop Layout */
@media screen and (min-width: 960px) {
    .landingcategories-container {
        width: 1024px;
        margin: 0 auto;
    }
}