/* Mobile layout */
.landingcategories-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    gap: 25px;
}

.categoryLayer {
    width: 100%;
    background-color: white;
}