/* Mobile First */

/* Site logo */
.site-title-footer {
    font-family: "Merriweather Sans";
    font-weight: bold;
    font-size: 2rem;
    color: var(--col-secondary);
}

.site-tag-line-footer {
    font-family: "Montserrat";
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--col-accent);
}

/* Main footer Container */
.footer-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    background-color: var(--col-primary);
    bottom: 0;
    flex-grow: 1;
}

/* Section container */
.footer-section-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 0 auto;
}

/* Brand section */
.footer-brand-container {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

/* Social Media icons */
.footer-social-container {
    display: flex;
    gap: 5px;
    margin-top: 15px;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}


.badge {
    display: flex;
    justify-content: center;
    align-content: center;
    color: white;
}

.badge > a {
    text-decoration: none;
    border-bottom: none;
    color: inherit;
}

.badge:hover, .badge > a:hover {
    color: var(--col-accent);
    background-color: var(--col-primary);
    border-bottom: none;
}

.badge > a > i {
    font-size: 1.5rem;
}

/* Footer sitemap section styles */
.sitemap-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sitemap-container > h4 {
    font-family: "Montserrat";
    font-size: 1.5rem;
    padding-bottom: 15px;
    color: var(--col-secondary);
    text-decoration: underline;
    text-decoration-color: var(--col-accent);
}

.sitemap-container > ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.sitemap-container > ul > li::marker {
    content: none;
}

.sitemap-container > ul > li > a {
    text-decoration: none;
    color: var(--col-secondary);
    font-size: 1rem;
}

.sitemap-container > ul > li > a:hover {
    color: var(--col-accent);
}

@media screen and (min-width: 960px) {

    .footer-container {
        margin-top: auto;
    }

    .footer-section-container {
        display: flex;
        flex-direction: row;
        gap: 50px;
        margin: 0 auto;
    }

}