/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Hind&family=Nanum+Gothic&family=Open+Sans:wght@300;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

/* Google Icons */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

/* Global Style Settings*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
    font-family: "Montserrat";
    font-size: 18px;

    /* Colour Palletes */
    --col-primary: #D71049;
    --col-secondary: #FFFFFF;
    --col-accent: #D79E10;

    --col-bg: #f7f7f7;
    --col-borders: #DCDCDC;

}

body {
    background-color: var(--col-bg);
}

h1 {
    font-size: 4rem;
    font-family: "Merriweather Sans"
}

h2 {
    font-size: 3rem;
}

h3{
    font-size: 2rem;
}

h4{
    font-size: 1rem;
}

a {
  text-decoration: none;
  font-family: inherit;
  border-bottom: 1px solid var(--col-primary);
}

a:hover {
  border-bottom: 3px solid var(--col-primary);
}

li { 
  list-style: none;

}

li::marker {
  content: "✽ ";
  color: var(--col-accent);
}

/* Positioning & Layout */
.container {
  display: flex;
}

.centered {
  margin: 0 auto;
}

.sp-between {
  justify-content: space-between;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.align-left {
  justify-content: start;
}

.align-center {
  justify-content: center;
}

.align-right {
  justify-content: end;
}

.w-100 {
  width: 100%;
}

.w-75 {
  width: 75%;
}

.w-50 {
  width: 50%;
}

.w-33 {
  width: 33%;
}

.w-25 {
  width: 25%;
}

.pad-small {
  padding: 5px;
}

.pad-medium {
  padding: 15px;
}

.pad-large {
  padding: 25px;
}

.border-radius-top {
  /* top-left top-right bottom-right bottom-left  */
  border-radius: 15px 15px 0 0;
}

.border-radius-bottom {
  /* top-left top-right bottom-right bottom-left  */
  border-radius: 0 0 15px 15px;
}

.border-radius-left {
  /* top-left top-right bottom-right bottom-left  */
  border-radius: 15px 0 0 15px;
}

.border-radius-right {
  /* top-left top-right bottom-right bottom-left  */
  border-radius: 0 15px 15px 0;
}

.border-radius {
  border-radius: 15px;
}