/* Header Styling */
.header {
    background-color: var(--col-secondary);
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);
}

/* brand styling */
.brand {
    padding-left: 25px;
    padding-top: 30px;
    font-family: "Merriweather Sans";
    font-size: 3rem;
    align-items: center;
    color: var(--col-primary);
}

/* Navigation Styling */
.nav-list {
    display: flex;
    padding: 25px 0;
}
.nav-item::marker {
    content: none;
}

.nav-item {
  list-style: none;
}

.nav-link {
    text-decoration: none;
    margin-left: 25px;
    font-size: 1rem;
    font-weight: bold;
    color: black;
    border-bottom: none;
}
.nav-link:hover {
    border-bottom: 2px solid var(--col-primary);
}

/* Main Page content */
main {
    padding: 25px;
}

section {
    display: flex;
    flex-direction: row;
    gap: 25px;

}

/* Buttons */
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-family: inherit;
    font-weight: bold;
    width: auto;
    background-color: var(--col-primary);
    color: var(--col-secondary);
    border: none;
    border-radius: 5px;
    border: 2px solid var(--col-primary);
}

.btn:hover {
    background-color: var(--col-secondary);
    color: var(--col-primary);
}

.btn-outline {
    background: none;
    color: var(--col-primary);
}

.btn-outline:hover {
    background: var(--col-primary);
    color: var(--col-secondary);
}

.btn-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.btn-circle:hover {
    background: none;
    color: var(--col-primary);
}

.btn-circle-outline {
   background: none;
   color: var(--col-primary);
}

.btn-circle-outline:hover {
    background-color: var(--col-primary);
    color: var(--col-secondary);
}

/* Inputs */
label {
    font-weight: bold;
}
input {
    padding: 12px;
    font-family: inherit;
    font-size: inherit;
    border: 1px solid var(--col-borders);
}

input:focus {
    border-color: var(--col-accent);
    outline: none;
}

.input-rounded {
    border-radius: 10px;
}

.input-flat {
    border: none;
    border-bottom: 1px solid var(--col-borders);
}